:host{
  background-color: #f0f2f5;
  margin:1rem;
  border-radius:5px;
  padding: 0px 15px;
  display:flex;
  flex-direction: column;
}
img{
    max-width:100%;
    height:240px;
}
strong{
  font-weight: 400;
  font-style: italic;
}
button{
  width: 70%;
  align-self: center;
  border-radius: 10px;
  border-style: none;
  background-color:#95ca3e ;
  font-family: roboto;
  font-weight: 400;
  color:#f0f2f5;
  padding: 10px;
  margin: 10px 0px;
}
button:hover{
  background-color: darkgreen;
}